*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    min-height: 100%;
    background-color: white;

}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{

    background-color: rgba(255, 255, 255, 0.662);
}
::-webkit-scrollbar-thumb{
    background-color: ;
    width: 10px;
    border-radius: 5px;
}
.page1{
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 255, 0.356) */
}
nav{
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.909);
    display: flex;
    justify-content: space-between;
    /* position: fixed;  */
}
.menubar{
    width: 50%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 15%;
    height: 90%;
    /* border: 2px solid white; */
    /* background-color: black; */
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1612222869049-d8ec83637a3c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-size: cover;
}
.menu{
    width: 15%;
    height: 50%;
    color: rgba(255, 255, 255, 0.763);
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
    
}
.menu::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0%;
    left: 50%;  
    transition: all .5s linear;
}
.menu:hover::after{
    width: 50%;
}
.menu::before{
    content: "";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0%;
    right: 50%;
    transition: all 0.5s linear; 

}
.menu:hover::before{
    width: 50%;
}
.menu:hover{
    color: white;
}
.menubtn{
    width: 20%;
    height: 100%;
    
    display: flex;
    
    justify-content:space-between;
    /* align-items: center; */
    

}

.profile{
    width: 70%;
    color: rgba(255, 255, 255, 0.797);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
}
.profile h1{
    font-size: 25px;
  
}
.profile:hover h1{
    font-size: 27px;
    color: white;
}
.n{
    width: 40px;
    height: 70%;
    border-radius: 50%;
    /* border: 2px solid black; */
    text-align: center;
    padding-top:6%;
    font-size: 25px;
}
.n:hover{
    color: white;
    font-size:27px;
}

.down_arrow{
    width: 20px;
    height: 20px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.829);

}
.well{
    width: 20px;
    padding-top: 9%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.856);
    }
    .well:hover{
        color: rgba(255, 255, 255, 0.938);
        font-size: 23px;
    }
    
.header{
    width: 80%;
    height: 15%;
    margin: 0 auto;
    /* background-color: rgba(0, 128, 0, 0.694); */
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* margin-top: 20px; */
    /* padding-top: 100px; */
}
.leftheader{
    width: 40%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.rightheader{
    width: 30%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; 
    
    
}
.icon{
    border: 2px solid black;
    border-radius: 8px;
    width: 15%;
    height: 30%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:hover{
    background-color: rgba(0, 0, 255, 0.728);
    width: 16%;
    height: 32%;
    font-size: 15px;
    color: white;
}
.clone{
    width: 55%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 255, 0.708);
    border: 2px solid rgba(0, 0, 255, 0.68);
}
.clone:hover{
    width: 56%;
    height: 31%;
    background-color: rgba(165, 42, 42, 0.765);
}
.clone h3,p{
    color: white;
    font-size: 19px;
    padding: 8px;
}
.clonein{
    font-weight: 100;
    padding: 3px;
   
}
.header2{
    width: 80%;
    height: 8%;
    margin: 0 auto;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;

}
.leftheader2{
    width: 20%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    
}
.leftheader2 a{
    text-decoration: none;
    color: black;
}
.links a{
    text-decoration: none;
    font-size: 15px;
}
.links i{
    font-size: 20px;
}
.headerpic{
    width: 50px;
    height:50px;
    /* border: 2px solid red; */
    border-radius: 50%;
    background-image: url("my passport size.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.rightheader2{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 2px solid blue; */

}
.rightheader2 p{
    color: black;
}
.rightheader2 i{
    font-size: 20px;
}
.container{
    width: 80%;
    height: 70%;
    border: 2px solid black;
    margin: 0 auto;
    overflow:scroll;
    box-shadow: 2px 1px 10px;
  

   
}
.container::-webkit-scrollbar{
    display: none;
}
.content{
    width: 100%;
    height: 300%;
    border: 2px solid black;
    margin: 0 auto;
    /* background-color: rgba(0, 255, 255, 0.598); */
  

}
.contentpage1{
    width: 100%;
    height: 33.3%;
    background-color: rgba(165, 42, 42, 0.648);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.contentpage1_left{
    width: 30%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.top1{
    margin: 0 auto;
    width: 5vmax;
    height: 5vmax;
    border-radius: 50%;

    background-image: url(https://media.istockphoto.com/id/1208462905/vector/n-letter-vector-logo-template-on-brown-background-vector-illustration.jpg?s=1024x1024&w=is&k=20&c=MUonH72QJ2tnwNVBEA6Wxi8SSx1exl228t3XLIkSa2k=);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.top2{
    width: 70%;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.774);
}
.top3{
    width:90%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.806);
    position: relative;
    /* border: 2px solid blue; */
}

.top3 i{
    /* width: 200px; */
    font-size: 19px;
    /* border: 2px solid red; */
    animation-name: rightarrow;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}


@keyframes rightarrow {
    from{
        left: 0%;
    }
    to{
        left: 20px;
    }
    
}

.contentpage1_center{
    width: 50%;
    height: 100%;
    /* border: 2px solid rgb(21, 255, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.contentpage1_center i{
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 3%;
    left: 45%;
    animation: centerarrow .6s infinite  linear;
}
@keyframes centerarrow {
    from{
         bottom: 5%;
    }
    to{
        bottom: 2%;
    }
    
}
.contentpage1_img{
    width: 60%;
    height:70%;
    
    /* border: 2px solid red; */

}
.contentpage1_img img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.contentpage1_right{
    width: 20%;
    height: 100%;
    /* border: 2px solid rgb(255, 98, 0); */
    text-align: center;
    line-height: 40px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.contentpage1_right ul{
    list-style: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.646);
    cursor: pointer;
    position: relative;

}
.contentpage1_list{
    position: relative;
}
.contentpage1_list:hover{
    color: white;
    font-size:18px;
   
}
.contentpage1_list::after{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    background-color: white;
    transition: all .4s linear;
}
.contentpage1_list:hover::after{
    width: 50%;
}
.contentpage1_list::before{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    right: 50%;
    bottom: 0%;
    background-color: white;
    transition: all .4s linear;
}
.contentpage1_list:hover::before{
    width: 50%;
}


.contentpage2{
    width: 100%;
    height: 33.3%;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.scrollpage2_left{
    width: 33.3%;
    height: 100%;
    text-align: center;
    /* border: 2px solid rgb(81, 255, 0); */
    background-color: rgb(201,163,164);
   
}
.scrolllefttop{
    
    width: 80%;
    height: 20.3%;
   display: flex;
   justify-content: center;
   align-items: center;
    /* border: 2px solid blue; */
    border-bottom: 2px solid white;
    margin: 0 auto;
    font-size: 30px;
  
    color: white;
    
}
.scrolllefttop h4{
    font-weight: 150;
}

.scrollleftcenter{
    width: 80%;
    height: 70%;
    /* border: 2px solid red; */
    margin: 0 auto;
    
}
.scrollleftcenter img{
    width: 90%;
    height: 100%;
}
.scrollleftbottum a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
}


.scrollleftbottum{
    padding-bottom: 10px;
    width: 100%;
    height: 10%;
    /* border: 2px solid red; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
   
}

.scrollpage2_center{
    width: 33.3%;
    height: 100%;
    text-align: center;
    /* border: 2px solid rgb(255, 89, 0); */
    background-color: rgb(173,205,236)  ;
}

.scrollpage2_right{
    width: 33.3%;
    height: 100%;
    text-align: center;
    /* border: 2px solid blue; */
    background-color: rgb(174,181,172);
}

.contentpage3{
    width: 100%;
    height: 33.3%;
    background-color: rgb(192,151,105);
    display:flex;

}

.scrollpage3_left{
    width: 35%;
    height: 80%;
    /* border: 2px solid red; */
}

.scroll3left_top{
    width: 80%;
    margin: 0 auto;
    height: 25%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;

}
.scroll3left_top p{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.806);
}
.scroll3left_mid{
    width: 80%;
    margin: 0 auto;
    height: 45%;
    /* border: 2px solid blue; */
    
}
.scroll3left_mid p{
   font-size: 17px;
   color: rgba(255, 255, 255, 0.705);
}
.scroll3left_bottum{
    width: 80%;
    margin: 0 auto;
    height: 20%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: end;
    justify-content: center;
    
}
.reach_out ,.reach_out i{
    text-decoration: none;
   color:  white;
    font-size: 20px;
}

.scrollpage3_right{
    width: 60%;
    height: 70%;
    /* border: 2px solid red; */
}
.scrollpage3_right img{
    width: 100%;
    height: 100%;
}


/* page2 */

.page2{
    width: 100%;
    height: 100vh;
    /* background-color: antiquewhite; */
    
}
.page2{
    width: 100%;
    height: 100vh;
    /* border: 2px solid blue; */
    background-color:#ffffff;
    margin-top: 30px;
}

/* page 2 start  */
.page2_top{
    width: 80%;
    margin: 3% auto;
    height: 30%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.page2top_left{
    width: 45%;
    height:100%;
 
}
.page2top_left h1{
    font-weight: 80;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.774);
    margin: 15px;
}
.page2top_left p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.623);
    margin: 10px;
}


.page2top_right{
    width: 45%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

}
.page2top_right1{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: start;
   
   background-color: rgba(255, 255, 255, 0);
}
.page2top_right1 button{
    width: 30%;
    height: 90%;
    font-size: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
}
.page2top_right2{
    width: 90%;
    height: 17%;
    display: flex;
    justify-content: space-between;
    

}

.page2top_right2 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.804);
    font-size: 17px;
    width: 17%;
    text-align: center;
    height: 80%;
   background-color: rgb(241,241,241);
}
.page2top_right3{
    display: flex;
    color: black;
}
.page2top_right3 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.804);
    font-size: 17px;
}
.page2top_2{
    width:80%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.page2top_2 a{
    text-decoration: none;
    font-size: 18px;
    width: 10%;
    color: rgba(0, 0, 0, 0.845);
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
}
.page2top_2 a i{
    font-size: 20px;
    padding-right: 5px;
    color:rgba(0, 0, 0, 0.893);
    /* padding-right: 10px; */
}
.page2top_2 a:hover i{
    animation: page2topicon .5s infinite  linear;
    color: rgba(0, 0, 0, 0.879);
}
@keyframes page2topicon{
    from{
        padding-right: 5px;

    }
    to{
        padding-right: 18px;
    }
    
}
.page2center{
    width: 80%;
    height: 45%;
    margin: 0 auto;
    /* border: 2px solid blue; */
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.page2centerslide_box{
    width: 25%;
    height: 100%;
    /* border: 2px solid red; */
}

.image_page2_1{
    width: 100%;
    height: 75%;
   margin: 0 auto;
   /* border: 2px solid green; */
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcjUngQTEdPvRR8AG79A-yki2QK3PL3iaqNg&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    
}
.image_page2_2{
    width: 100%;
    height: 75%;
   margin: 0 auto;
   /* border: 2px solid green; */
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_GrZQ7P5khuK-k9Kj-vFfRTGpskL-qLF_6Q&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    
}
.image_page2_3{
    width: 100%;
    height: 75%;
   margin: 0 auto;
   /* border: 2px solid green; */
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQk8c-AmJOZwVSy0p0YaE1FowzHfbZLVktGHg&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    
}
.page2centerslide_box p{
    color: black;
    
}
.bottumtext h3{
    font-size: 20px;
    font-weight: 100;
}
.bottumtext{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page3{
    width: 100%;
    height: 50vh;
    /* border: 2px solid black; */
    
}
.hr{
    width: 90%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.482);
    margin: 0 auto;
}
.footer{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;


}
.footer1 ul{
    list-style: none;
    line-height: 35px;
    font-size: 17px;
}
.footer1{
    width: 30%;
    height: 90%;
    /* border: 2px solid black; */
    text-align: center;
}
.footer2{
    width: 30%;
    height: 90%;
    /* border: 2px solid black; */
    text-align: center;
    
    
}
.footer2 ul{
    list-style: none;
    line-height: 35px;
}
.footer3{
    width: 30%;
    height: 90%;
    /* border: 2px solid black; */
    text-align: center;
    
    
}
.footer3 ul{
    list-style: none;
    line-height: 35px;
}
.footer4{
    width: 30%;
    height: 90%;
    /* border: 2px solid black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 35px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.774);
    
}
.footer i:hover{
    color: black;
    font-size:30px;
}
.footer1 h3{
    color: rgba(0, 0, 0, 0.893);
}
.footer li:hover{
     color: rgba(0, 0, 0, 0.881);
     

}






